<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple classifier</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Simple customizable image classifier</h1>
    </header>
    <p>
        Choose a picture and click "Analyze" to see what the model thinks is
        in it.
    </p>
    <button class="button button1">
        Analyze
    </button>
</body>
</html>